@model WebUI.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>UserModel</h4>
<hr />

<div class="form-group">
    <div class="form-group">
        @if (Model.Image != null)
            {
            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
        }
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
            </dl>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Account")
</p>
