@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">@ViewBag.RealJob</p>
</div>

<div class="row">
    <div class="col-md-1">
        @ViewBag.Auth
    </div>
    <div class="col-md-1">
        @ViewBag.Msg
    </div>
    <div class="col-md-1">
        @ViewBag.Rate
    </div>
    <div class="col-md-3">
        @ViewBag.Commerc
    </div>
    <div class="col-md-1">
        @ViewBag.Paym
    </div>
    <div class="col-md-1">
        @ViewBag.PA
    </div>
    <div class="col-md-1">
        @ViewBag.DAL
    </div>
</div>